@import "tailwindcss";

:root {
  --background: #F5F5F5;
  --text-default: black;
  --hover-bg: #0DA2E7;
  --hover-bg-opacity:#E7F6FE;
  --secondary-text:#62748e;
  --text-title:#1d293d;
  --focus-input:#2082B1;
  --border:#ffffff33;
  --border-input: #e2e8f0;
  --text-blue: #2082B1;
  --bg-gradient-2: #3890B9;
  --bg-gradient-1: #2082B1

}

@theme inline {
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: black;
  background-color:#F5F5F5 ;
  font-family: var(--font-poppins),sans-serif;
}
